@import "mixin";
body::-webkit-scrollbar{
    display: none;  
}
body{
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
.current {
    color: lightsalmon;
}
.header{
    .header__main_section {
        .main_section__container{
            display: flex;
            justify-content: space-around;
            .main_section__left {
                padding-top: 100px;
                .bread_crumbs {
                    padding-bottom: 30px;
                }
                .main_section__left_title {
                    max-width: 420px;
                    padding-bottom: 15px;
                }
                .main_section__left_subtitle {
                    max-width: 420px;
                    padding-bottom: 30px;
                }
                .get_in_touch_button{
                    color: white;
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                }
                .main_section__button_link{
                    display: inline-flex;
                }
            }



            .main_section__right {
                width: 50%;
                align-self: center;
            }
            .content {
            }
            .slider {
            }
            .one-time {
            }
            

            @include media('max','lg'){
                flex-direction: column;
                .main_section__left > *{
                    text-align: center;
                    margin: 0 auto;
                }
                .main_section__left{
                    padding: 20px 0 30px;
                    .get_more_details_link {
                        transform: translate(-50%, 0%);
                        left: 50%;
                        position: relative;
                    }
                }
            }

        }
    }
    
}


.work_with_us_section {
    padding: 100px 0;
    .work_with_us_section__container {
        .work_with_us__title {
            padding-bottom: 60px;
        }
    .work_with_us__cards_row {
        display: flex;
        justify-content: center;
        .work_with_us__card:nth-child(1){
            .work_with_us__highlighted_text{
                background-color: rgba(176, 0, 220, 0.11);
            }
        }
        .work_with_us__card:nth-child(2){
            .work_with_us__highlighted_text{
                background-color: rgba(220, 66, 0, 0.11)
            }
        }
        .work_with_us__card:nth-child(3){
            .work_with_us__highlighted_text{
                background-color: rgba(0, 220, 141, 0.11)
            }
        }
    
        .work_with_us__card {
            padding: 60px 35px;
            margin: 0 20px;
            border-radius: 10px;
            background-color: rgba(28, 20, 15, 1);
            .work_with_us__highlighted_text {
                display: inline-flex;
                align-items: center;
                font-size: 14px;
                border-radius: 5px;
                padding: 7px 25px 5px;
            }
            .work_with_us__second_title {
                font-size: 20px;
                font-weight: 600;
                padding: 15px 0;
            }
            
            .work_with_us__subtitle {

                max-width: 300px;
            }
        }
        @include media('max','lg'){
            flex-wrap: wrap;
            .work_with_us__card{
                margin: 20px 0;
            }
        }
    }
 
    }
 
}

.more_about_game {
    background-color: #1C140F;
    padding-top: 100px;
    .more_about_game__container {
        display: flex;
        justify-content: space-evenly;

        .more_about_game__left {

        }
        
        .more_about_game__right {
            padding-top: 20px;
            & > p{
                padding-bottom: 15px;
                max-width: 530px;
            }
            .more_about_game__second_title {
                font-size: 16px;
                font-weight: 500;
   
            }
            
            .more_about_game__title {
            }
            
            .more_about_game__subtitle {
            }
        }
    }
    @include media('max','lg'){
        padding-top: 40px;
      
        .more_about_game__container {
            flex-direction: column-reverse;
            .more_about_game__right{
                & > *{
                    margin: 0 auto;
                }   
            }
            .more_about_game__left{
                text-align: center;
                margin: 0 auto;
            }
        }
    }
    @include media('max','sm'){
        padding-top: 30px;
        .more_about_game__right{
            .more_about_game__title {
                font-size: 24px;
            }
            
            .more_about_game__subtitle {
                font-size: 14px;
            }
        }
    }
    @include media('max','xs'){
        padding-top: 20px;
        .more_about_game__right{
            .more_about_game__second_title{
                font-size: 14px;
            }
            .more_about_game__title {
                font-size: 20px;
            }
            
            .more_about_game__subtitle {
                font-size: 12px;
            }
        }
    }
}


.our_team {
    padding: 150px 0;
    .our_team__container {

        .our_team__title {
        }
        .our_team__cards_row {
            display: flex;
            justify-content: center;
            .our_team__card {
                padding: 35px 55px;
                margin: 10px 15px;
                border-radius: 10px;
                background-color: #1C140F;

                & > p {
                    text-align: center;
                }
                .our_team__name {
                    max-width: 150px;
                    min-width: 140px;
                }
                .our_team__position {
                }
                .our_team__img{
                    display: flex;
                    justify-content: center;
                    margin: 0 auto;
                }
            }
        }
    }
    @include media('max','xl'){
        .our_team__container {
            .our_team__cards_row {
                flex-wrap: wrap;
            }
        }
    }
    @include media('max','lg'){
        padding-top: 40px;
        .our_team__title{
            text-align: center;
        }
    }
}