@import "mixin";
.header__map{   
    padding-top: 40px;
    position: relative;
    .map{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    
    }
    .map__round{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
        background-color: white;
        position: absolute;
        border-radius: 50%;
        
        .round__ring {
            margin: 0 auto;
            align-items: center;
            display: flex;
            justify-content: center;
            position: absolute;
            border-radius: 50%;

            .round__center {
                border-radius: 50%;
                background-color: #F53838;
            }
        }
        

    }
    .map__round_big {
        width: 40px;
        height: 40px;
        .round__ring_big {
            border: 3.5px solid #F53838;
            width: 35px;
            height: 35px;
        }
        .round__center_big{
            width: 15px;
            height: 15px;
        }
    }
    .map__round_middle {
        width: 35px;
        height: 35px;
        .round__ring_middle {
            border: 2.5px solid #F53838;
            width: 29px;
            height: 29px;
        }
        .round__center_middle {
            width: 12px;
            height: 12px;
        }
    }
    .map__round_small {
        width: 20px;
        height: 20px;
        .round__ring_small {
            width: 16px;
            height: 16px;
            border: 1.5px solid #F53838;
        }
        .round__center_small {
            width: 7px;
            height: 7px;
        }
    }
    .hidden{
        visibility: hidden !important;
    }
    .text_for_marker {  
        border-radius: 10px;
        position: absolute;
        visibility: visible;
        padding: 10px 10px;
        max-width: 300px;
        background-color:maroon;
        .text_for_marker__title {
            max-width: 250px;
            padding-bottom: 10px;
            text-align: center;
            margin: 0 auto;
        }
    
        .text_for_marker__subtitle {
            max-width: 200px;
            text-align: center;
            margin: 0 auto;
        }
    }
    .marker1 {
        left: 77%;
        top: 2%;
    }
    .marker2 {
        top: 40%;
    }
    .marker3 {
        top: 9%;
        left: 45%;
    }
    .marker4 {
        left: 20%;
        top: 70%;
    }
    .marker5 {
        left: 43%;
        top: 52%;
    }
    .marker6 {
        left: 74%;
        top: 44%;
    }
    .marker7 {
        top: -3%;
        left: 0%;
    }
    .marker8 {
        left: 70%;
        top: 78%;
    }
    .marker9 {
        left: 60%;
        top: 32%;
    }
    .position1{
        left: 71%;
        top: 24%;

    }


    .position2 {
        left: 24%;
        top: 38%;
    }


    .position3 {
        left: 53%;
        top: 35%;
    }

    .position4 {
        left: 30%;
        top: 63%;
    }
    .position5 {
        left: 46%;
        top: 45%;
    }
    .position6 {
        left: 82%;
        top: 40%;
    }
    .position7 {
        left: 15%;
        top: 23%;
    }
    .position8 {
        left: 81%;
        top: 71%;
    }
    .position9 {
        left: 57%;
        top: 43%;

    }
    

}
.header__statistic_section__contact_us{
    padding-bottom: 50px;
}
.contact_us__statistic__modules_addition{
    background-color: transparent !important;
    .contact_us__statistic__module_addition:not(.contact_us__statistic__module_addition:last-child){
        &::after{   
            position: absolute !important;
            left: 100% !important;
        }
    }
    .contact_us__statistic__module_addition{
        width: 33%;
    }

    @include media('max','md'){
        align-items: center;
        .contact_us__statistic__module_addition:not(.contact_us__statistic__module_addition:last-child){
            &::after{   
                position: absolute !important;
                left: 50% !important;
            }
        }
        .phone_number{
            font-size: 16px;
        }
    }
}





.statistic__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C140F;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 5px;
    color: white;
}

.form_bgc_wrapper{
    background-color: #1C140F;
}
.form_section {
    margin: 0 auto;
    max-width: 1440px;
    padding: 50px 0;
    position: relative;
    .bezier_top{
        position: absolute;
        left: 30%;
        top: 0%;
        z-index: 0;
        max-width: 70%;
    }
    .bezier_bottom{
        max-width: 70%;
        position: absolute;
        top: 65%;
        left: -10%;
        z-index: 0;
    }
    .form_section__container {
        position: relative;
        z-index: 1;
        .outer_form__title {
            text-align: center;
            margin: 0 auto;
        }

        .outer_form__subtitle {
            text-align: center;
            margin: 0 auto;
        }
        .contact_us_form > div {
            padding-bottom: 20px;
        }
        .contact_us_form {
            padding-top: 40px;
            margin: 0 auto;
            // display: flex;
            // flex-direction: column;
            max-width: 670px;
            .label_text {
                font-family: "Poppins";
                font-weight: 500;
                font-size: 14px;
                color: #4F4F4F;
            }
            .contact_us__style_form {
                color: white;
                padding-left: 20px;
                background-color: rgba(255, 255, 255, 0.07);
                border-radius: 10px;
                border: 1px solid rgba(206, 206, 206, 1);
            }
            .full_name__form {
                display: flex;
                justify-content: space-between;
                .name__form {
                    
                    .name_input {
                        width: 100%;
                        height: 50px;
                    }
                    
                }
                .surname__form {
                    .surname {
                        width: 100%;
                        height: 50px;
                    }
                }
            }




            .email_form {   
                height: 50px;
                width: 100%;
            }
            .message_form {
                padding-top: 10px;
                width: 100%;
                resize: none;
            }
            .form__button_wrapper{
                display: flex;
                justify-content: flex-end;
                .contact_us__form_button {

                    padding: 12px 25px;
                    background-color: #DC7000;
                    border-radius: 10px;
                    color: white;
                    border: none;
                }
            }

        }
        
        
    }

}
