@import "~bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
$sizes: ("xs":320px, "sm":576px, "md":768px, "lg":992px, "xl":1200px);
@mixin media($minmax, $media) {
    @each $size, $resolution in $sizes {
      @if $media == $size {
        @media only screen and (#{$minmax}-width: $resolution) {
          @content;
        }
      } 
    }
}

*{
    box-sizing: border-box;
}
body{
    background-color: black;
}
h1,h2,h3,h4,h5,h6,p,a,span{
    margin: 0;
    color: white;
}
.rubik{
    font-family: "Rubik";
}
.title{
    font-family: "Poppins";
    font-weight: 700;
    font-size: 30px;
}
.second_title{
    //less than main title
    font-family: "Poppins";
    font-weight: 600;
    font-size: 20px;
}
.subtitle{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
}
.logo_text {
    font-family: "Poppins";
    font-weight: 800;
}

.link{

    text-decoration: none;
}
.button_see_all{
    color: white;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.11);
}
.header {
    .header__nav_body {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .header__nav_logo {
            .header__nav_logo_text {
                font-size: 29px;
            }
        }
        .header__nav_links {
            display: flex;
            align-items: center ;
            .header__nav_link {
                margin: 0 10px  ;
                position: relative;

                &::before {
                    content: ""; 
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: orange;
                    visibility: hidden;
                    transition: 0s ease 0.1s;
                }
                &:hover{
                    color: antiquewhite;
                    &::before {
                        visibility: visible;
                        
                    }
                }
            }
        }
        .header__nav_button {
      
            margin-left: 30px !important;
            color: white;
            padding: 3px 12px;
            font-size: 13px;
            
            background-color: orange;
            &:hover{
                border: 1px solid white;
            }
        }

    }
    .header_row{
        display: flex;
        justify-content: center;
        .header__left > p,a {
            margin: 20px 0;
        }
        .header__left {
           
            .header__left_title {
                color: #E87D0E;
                font-size: 20px;
            }
            .header__left_title_second {
                font-size: 50px;
                width: 480px;
            }
            .header__left_subtitle {
                width: 520px;
            }
            .header__left_button {
                padding: 5px 20px;
                background: linear-gradient(92.48deg, #FA8305 2.08%, #FB9E3C 117.25%);
                border-radius: 20px;
                margin-top: 10px;
            }
        
        }
    
        .header__right {
            position: relative;
            .unity_img {
                position: absolute;
                bottom: 60%;
                left: -15%;
            }
            .unreal_engine_img {    
                position: absolute;
                left: 70%;
                bottom: 76%;
            }
            .cryengine_img {
                position: absolute;
                bottom: 75%;
            }
            .joystick {
                z-index: 0;
                left: 5%;
                position: relative;
                top: -20%;
                padding-right: 5px;
            }
        }
    }
}

.curentTrandingGames {
    .curentTrandingGames__title_row {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        .curentTrandingGames__title {
        }
    
    }
   
    .curentTrandingGames__cards_row {
        display: flex;
        justify-content: center;
       // flex-wrap: wrap;
        .curentTrandingGames_card {
            padding: 0 20px ;
            .curentTrandingGames__full_card {

            }
            .curentTrandingGames__card_caption {
                .curentTrandingGames_card_text {
                    padding-top: 10px;
                    display: flex;
                    justify-content: center;
                    font-weight: 500;
                }
            }
           
        }
     
    }
   
}

.about_game__main > p {
    padding: 10px 0;
}
.about_game {
    background: linear-gradient(180.96deg, #000000 0.82%, #4A2800 129.1%);
    padding-top: 50px;
    .about_game__title {
        padding: 20px ;
        text-align: center;
        max-width: 820px;
        margin: 0 auto;
    }
    .about_game__main {
        .about_game__text_section > p {
            padding: 10px 0;
        } 
        .about_game__text_section {
            display: block;
            padding-bottom: 50px;
        }
        .about_game__second_title {
            max-width: 350px;
            font-weight: 600;
        }
        .about_game__subtitle {
            max-width: 530px;
            font-weight: 400;
        }
 
        .about_game__banner{
            position: relative;
            z-index: 2;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            padding: 20px 0 100px;

        }
    }
    .about_game__wrapper{
        position: relative;
    }
    .about_game__pattern{
        position: absolute !important;
        z-index: 0;
        left: 70%;
        top: -10%;
    }
    .pattern {
        position: relative;
        display: inline-flex;
        flex-direction: column;
    }
    .about_game__pattern_row{

    } 
    .pattern_row{
        display: inline-flex;
    }
    .circle {
        margin: 3px 3px ;
        background: rgba(220, 112, 0, 0.35);
        width: 7px;
        height: 7px;
        border-radius: 50%;
    }
}

.our_areas {
    background-image: url(/src/images/development_Bg.png);
    padding-top: 100px;
    .our_areas__title {
        padding: 20px 0;
        text-align: center;
        margin: 0 auto;
        max-width: 820px;
        font-weight: 700;
        font-size: 30px;
    }
    
    .our_areas__subtitle {
        padding: 10px 0;  
        margin: 0 auto;
        text-align: center;
        max-width: 820px;
    }
    
    
}
.cards_development{
    
    padding: 30px 0 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card_development > * {
    padding: 10px 0;
}
.card_development {
    padding: 0 30px;
    .icon_background{
        
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        margin: 10px auto;
    }
    .card_development_icon {

    }
    .card_development__name_of_area {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        margin: 0 auto;
    }
    .icon-right-1 {
        text-align: center;
        margin: 0 auto;
    }
    .card_development__link{
        text-align: center;
        margin: 0 auto;
        display: flex;
    }
    .card_development__icon_right {

        color: #DC7000;
        font-size: 20px;
    }
}


.footer_gradient{
    background: rgb(9,3,0);
    background: linear-gradient(180deg, rgba(9,3,0,1) 0%, rgba(25,12,0,1) 100%);
}

.recent_projects {
    padding-top: 100px;
    .recent_projects__container > .title, .subtitle {
        padding: 15px 0;
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .recent_projects__title {
        max-width: 500px;
    }
    
    .recent_projects__subtitle {
        max-width: 600px;
    }
    .recent_projects__gallery {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .gallary_img{
        padding: 10px 10px;
    }
    .button_see_all {
    }
    .recent_projects__see_all_button{
        display: flex;
        margin: 0 auto;
        margin-top: 30px;
    }
}


.notification_through_email {
    padding: 50px 0;
    @include media('minmax','xl'){
        padding: 90px 0 130px;
    }
    @include media('max','md'){
        padding: 50px 40px;
    }
    .notification_through_email__container > p {
        padding: 10px 0;
    }
    .notification_through_email__title {
    }
    .notification_through_email__subtitle {
    }
    .notification_through_email__inner_form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        margin-top: 50px;
        background-color: #1C140F;
        padding: 30px 50px;
        @include media('max','lg'){
            padding: 20px 30px;
        }

        .text_side {
            align-items: center;
            .notification_through_email__inner_form_title {
                max-width: 300px;
                @include media('max','md'){
                    max-width: 200px;
                }
            }
            .notification_through_email__inner_form_subtitle {
                max-width: 600px;
                @include media('max','lg'){
                    max-width: 500px;
                }
                @include media('max','md'){
                    max-width: 300px;
                }
            }
        }

        .form_side {
            position: relative;
            display: flex;
            align-items: center;
            .email_form {
                border-radius: 10px;  
                color: #898989;       
                padding: 10px 120px 10px 20px;
            }
            .notification_through_email_button {
                border-radius: 10px;
                text-align: center;
                background-color: #DC7000;
                padding: 5px 5px;
            }
            .email_form_button{
                position: absolute;
                left: 75%;
            }
        }

    }
    
    
    
}


.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 60px 30px 50px;
    .column{
        padding: 0 5px;
    }
    .footer__logo_column {
        .footer__logo_column__title {
            max-width: 150px;
        }
        
        .footer__logo_column__subtitle {
            max-width: 400px;
            @include media('max','md'){
                max-width: 250px;
            }
        }
    }

    
    .footer__about_us_column {
        min-width: 150px;
        display: flex;
        flex-direction: column;
        .footer__about_us_column__title {
        }
        .footer__about_us_column__subtitle {
        }
    }

    
    .footer__contact_us_column {
        .footer__contact_us_column__title {
            max-width: 200px
        }
        .footer__contact_us_column__subtitle {
            max-width: 400px;
            @include media('max','md'){
                max-width: 250px;
            }
        }
    }

    .footer__social_media_column {
        display: flex;
        align-items: flex-end;
        .footer__icon_link {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin: 0 5px;
        }
        .footer__icon {
            color: black;
        }
    }
    

  
    
}
.line{
    width: 100%;
    height: 1px;
    background-color: rgba(210, 210, 210, 0.8);
}
.footer__copyright {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
}
.footer__copyright_text {

}