@import "mixin";
.header{
    .search__container {
        padding-top: 30px;
        .search{
            padding: 10px 0;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            background-color: #1C140F;
            min-width: 400px;
            border-radius: 10px;
            .icon-search {
                margin-right: 10px;
            }
        }

    }
    
}
.news_columns__about_article {
    display: flex;
    align-items: center;
    .news_columns__author_name {
        color: white;
        background-color: #2351F5;
        margin-right: 20px;
        padding: 10px 30px;
    }
    .news_columns__time_to_read {
    }
}
.news_columns {

    display: flex;
    .news_columns__container {
        display: flex;
        padding-top: 30px;
        .news_columns__left > :not(:first-child){
            padding-top: 50px;
        }
        .news_columns__article_large::after{
            content: "";
            position: absolute;
            bottom: 0%;
            height: 1px;
            width: 100%;
            background: #FFF;
        }

        .news_columns__left {
            margin-right: 50px;
            .news_columns__article_large > :not(:last-child){
                padding-bottom: 20px;
                ::after{
                    
                }
            }

            .news_columns__article_large {
                position: relative;
                padding-bottom:  80px;
                .article_large__img{
                    
                }
                

                .article_large__title {
                    max-width: 575px;
                }
                
                .article_large__subtitle {
                    max-width: 520px;
                }
                .article_large__second_subtitle{
                    max-width: 500px;
                }
            }

        }

        .news_columns__right > :not(:first-child){
            padding-top: 50px;
        }
        .news_columns__right {

            .news_columns__article_small {
                padding-bottom: 30px;
                display: flex;
                .article_small__img_side {

                }
                .article_small__text_side {
                    padding-left: 30px;
                    .news_columns__about_article {
                        padding-top: 25px;
                        display: flex;
                        .news_columns__author_name {
                        }
                        .news_columns__time_to_read {
                        }
                    }

                    .small_article__title {
                        max-width: 420px;
                    }
                }

            }
        }
        @include media('max','xl'){
            flex-direction: column;
            .news_columns__left{
                margin: 30px auto;
            }
            .news_columns__right{
                .news_columns__article_small{
                    justify-content: center;
                }
            }
            
        }
    }

    
}
