@import "mixin";


.gg-shape-triangle {
    position: relative;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 17px;
    border-left: 3px solid transparent;
    border-bottom: 3px solid;
    transform: rotate(90deg);
}
.gg-shape-triangle,
.gg-shape-triangle::before {
    display: block;
    box-sizing: border-box;
    border-right: 3px solid transparent
}
.gg-shape-triangle::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 3px solid;
    border-top: 3px solid;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg) skew(10deg,10deg);
    left: -2px;
    bottom: -13px
}

.header__text_section {
    .header__text__container {
        padding-top: 30px;
        .bread_crumbs {
        }
        .bread_crumbs_text {
        }
        
        .header_text__title {
            max-width: 940px;
            text-align: center;
            margin: 0 auto;
        }
        
        .header_text__subtitle {
            max-width: 600px;
            text-align: center;
            margin: 0 auto;
        }
        @include media('max','sm'){
            .header_text__title {   
                font-size: 23px;
            }
            
            .header_text__subtitle {
                font-size: 14px;
            }
        }
    }
    
    
}



.header__statistic_section {
    padding-top: 20px;
    .statistic_section__container > :not(.header__statistic__modules ){
        padding-bottom: 15px;
    }
    .statistic_section__container {
        
        .header__statistic__modules {
            max-width: 900px;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            background-color: #1C140F;
            border-radius: 10px;
            margin-top: 20px;
            @include media('max','lg'){
                padding: 10px 10px;
            }
            .header__statistic__module:not(.header__statistic__module:last-child){
                &::after{
                    content: "";
                    position: relative;
                    left: 50%;
                    width: 2px;
                    height: 100px;
                    background-color: #FFECEC;
                    position: relative;
                    @include media('max','lg'){
                        left: 33%;
                    }
                }
                
            }
            .header__statistic__module {
                padding: 30px 40px;
                display: flex;
                position:relative;  
                justify-content: center;
                align-items: center;
                .statistic__module_icon_wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 20px;
                    background-color: #FFECEC;
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                    .statistic_icon{

                        color: #DC7000;
                        font-size: 20px;
                    }
                  
                }
                
                .statistic__module__text_wrapper{
                    .statistic__module__second_title {
                        
                    }
                    .statistic__module__text {
                    }
                }

            }
            @include media('max','md'){
                flex-direction: column;
                .header__statistic__module:not(.header__statistic__module:last-child){
                    &::after{
                        width: 200px;
                        height: 2px;
                        position: absolute;
                        transform: translate(-50%,0%);
                        left: 50%;
                        bottom: 0%;
                    }
                }
                .header__statistic__module{
                    padding: 30px 0 ;
                }
            }
     
        }
 
    }
    

}


.our_advantages {
    padding-top: 70px;
    .our_advantages__container{
        display: flex;
        justify-content: center;
        align-items: center;
        .our_advantages__img {
            position: relative;
            .circle {
                width: 60px;
                height: 60px;
                border: solid white 5px;
                border-radius: 50%  ;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                .gg-shape-triangle {
                    margin-left: 5px;
                    color: white;
                }
            }
        
        }
        .our_advantages__advantages > :not(.our_advantages__advantages_list){
            padding-bottom: 15px;
        }
        .our_advantages__advantages {
            padding-left: 40px;
            .our_advantages__title {
                max-width: 380px;
            }
            .our_advantages__subtitle {
                max-width: 420px;
            }
            .our_advantages__advantages_list {
                .our_advantages__li {
                    padding: 10px;
                    display: flex;
                    align-items: center;
                }
                .our_advantages__li_text {
                    max-width: 330px;
                }
                .our_advantages_icon {
                    margin-right: 5px;
                    min-width: 25px;
                    min-height: 24px;
                }
            }
        }
        @include media('max','lg'){
            flex-direction: column;
            .our_advantages__advantages > *{
                text-align: center;
                margin: 0 auto;
            }
            .our_advantages__advantages{
                padding-top: 20px;
                .our_advantages__advantages_list {
                    .our_advantages__li_text{
                        max-width: 420px;
                    }
                }
            }
        }
    }
}
.service_about_games{
    .service_about_game {
        .service_about_game__container:last-child{
            padding-bottom: 30px;
        }
        .service_about_game__container {
            padding-top: 150px;
            display: flex;
            justify-content: space-evenly;
            .service_about_game__text_section > :not(:last-child){
                padding-bottom: 30px;
            }
            .service_about_game__text_section {
                
                .service_about_game__title {
                    width: 470px;
                }
                
                .service_about_game__first_subtitle {
                    max-width: 530px;
                }
                
                .service_about_game__second_subtitle {
                    max-width: 500px;
                }
                .read_more_link {
                }
                .read_more_button {
                    background-color: #DC7000;
                    padding: 10px 30px;
                    color: white;
                    &:hover{
                        color: #1C140F;
                        border: #FFECEC solid 1px;
                    }
                }
            }

            
            .service_about_game__img_section {
            }

            
        }
        
        
    }
    @include media('max','lg'){
            .service_about_game:nth-child(even){
                .service_about_game__container{
                    flex-direction: column;
                }
            }
            .service_about_game:nth-child(odd){
                .service_about_game__container{
                    flex-direction: column-reverse;
                }
            }
        .service_about_game__text_section > *{
            text-align: center;
            margin: 0 auto;
        }
        .service_about_game__img_section > *{
            display: flex;
            justify-content: center;
            margin: 0 auto;
        }
        .service_about_game__text_section{
            padding-top: 30px;
            .read_more_button{
                display: flex;
            }
        }

    }

}



.reviews_section {
    padding: 70px 0;
    background-color: rgba(28, 20, 15, 1);
    .reviews_section__container {
            
        .reviews_section__title {
            max-width: 450px;
            text-align: center;
            padding-bottom: 20px;
            margin: 0 auto;

        }
        .reviews_section__subtitle {
            max-width: 555px;
            text-align: center;
            margin: 0 auto;
        }
        .content {
            padding-top: 40px;
            .reviews_slider {
                .slider_comment {
                    min-height: 230px;
                    border-radius: 10px;
                    max-width: 400px;
                    padding: 30px;
                    border: 3px solid white;
                    .comment_top {
                        padding-bottom: 20px;
                        display: flex;
                        justify-content: space-between;
                        .about_user_wrapper {
                            display: flex;
                            .comment_top__name_and_from {
                                padding-left: 20px;
                                .comment_top_name {
                                    max-width: 150px;
                                    font-size: 18px;
                                    font-weight: 500;
                                }
                                
                                .comment_top_from {
                                    max-width: 150px;
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: rgba(79, 86, 101, 1);
                                }
                            }
                        }
                        .stars {

                            .stars_text{
                                font-size: 16px;
                                font-weight: 400;
                                .icon-star {
                                    margin-left: 5px;
                                    color: #FEA250 !important;
                                }
                               
                            }
                         
                        }

                    }
                   
                    .comment_bottom {
                        .comment_bottom__text {

                        }
                    }

                }
                
            }

        }
        .slider_navigation {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .slider_navigation__dots {
                display: flex;
            }
            .slider_navigation__arrows {
                margin-right: 10px;
                display: flex;
                .arrow{
                    width: 50px;
                    height: 50px;
                    border: 2px solid #DC7000 ;
                    border-radius: 50%;
                    margin: 0 5px;
                    background-color: transparent;
                    &[aria-disabled="false"]{
                        background-color: #DC7000;
                        i{
                            color: white;
                        }
                    }
                }
                .slider_navigation__arrow_right {

                }
                
                .slick-disabled{

                }
                .icon-right-1 {
                    color: #DC7000;
                }
                .slider_navigation__arrow_left {
                }
                .icon-left-1 {
                    color: #DC7000;
                }
            }
            @include media('max','sm'){
                flex-direction: column;
                .slider_navigation__dots {
                    padding-bottom: 20px;
                }
            }
        }

        
        
    }
}

@include media('max','lg'){
    .slick-slide{
        margin: 0 auto;
        display: flex !important;
        justify-content: center;
    }
}

.slick-current{
    .slider_comment{
        border: 3px solid #DC7000 !important;
        background-color: #0F0901;
    }
}

.slick-dots{
    position: unset !important;
}
.slick-dots li.slick-active {
    background-color: transparent;
    margin: 0 30px 0 0;
    button{
        width: 45px;
        background-color: #DC7000;
        border-radius: 20px;
        margin-right: 10px;
        transition: .4s ease 0s;
    }

       
    
}
.slick-dots li button {
    font-family: 'slick';
     line-height: 20px;
     width: 20px;
     height: 20px;
     background-color: white;
     text-align: center;
     border-radius: 50%;

   }
.slick-dots li button{
    width: 20px;
    height: 20px;
}
.slick-dots li button:before{
    content: unset;
}
.slick-dots li{
    margin: 0 15px;
}